
.navbar {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* background-color: aquamarine; */
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
.menu h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}
.menu i{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 26px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 2px;
}
.menu button{
    padding: 0%;
    background: transparent;
    border: 12px;
    border-radius: 12px;
    border: none;
}
.menu button:hover{
    overflow: hidden;
    background-color: #48cae4;
    color: #000;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header i{
    background-color:#48cae4;
    font-size: 32px ;
    border: 1.1px solid black;
    border-radius: 19px;
}
.header h1{
    text-transform: uppercase;    
}
.access {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.access h3{
    border: 1.5px solid black;
    border-radius: 12px;
    padding: 5px;
}
.sup{
    background-color: #48cae4;      
}
.disp{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
}
img {
    top: 0;
    left: 38%;
    position: absolute;
    height: 550px;
    width: 350px;
    border-radius: 30px;
    z-index: 10;
}
.disp h2{
    top: 45%;
    left: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    position: absolute;
    font-size: 200px;
    z-index: 1;
}
.im1{
    transform:rotate(-30deg)
}
.im2{
    transform:rotate(-20deg)
}
.im3{
    transform:rotate(-10deg)
}
.connect{
    margin-top: 34%;
    display:flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}
.tagline{
    margin-top: 4px;
    align-items:center;
    margin-left: 1%;
    font-family: cursive;
    font-style: italic;
    font-size: 15px;
    width: 20%;
}
.social{
    margin-top: 4px ;
    margin-right: 4%;
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 50px;
}
.ri-facebook-fill{
    padding: 4%;
}
.ri-instagram-line{
    padding: 3%;
}
.ri-whatsapp-fill{
    padding: 6%;
}
@media only screen and (max-width:450px) {
    body{
        /* background-color: aqua; */
        height: 100vh;
        margin: 0;
    }
    .navbar{
        height: 6vh;
        margin-left: 2.6%;
    }
    .header{
        margin-left: 50px;
    }
    .header i{
        /* background-color:#48cae4; */
        font-size: 5vw ;
        border: 1.1px solid black;
        border-radius: 19px;
    }
    .header h1{
        text-transform: uppercase;  
        font-size: 5vw;  
    }
    .menu h3{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: none;
    }
    .menu i{
        font-size: 5vw;
    }
    .access {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        margin-right: 10px;
    }
    .access h3{
        font-size: 2.6vw;
        border: 1.1px solid black;
        border-radius: 10px;
        padding: 3px;
    }
    .disp{
        width: 100vw;
        height: 50vh;
        /* background-color: red; */
        margin: 40px 0 40px;        
    }
    img {
        top: 40%;
        left: 30%;
        height: 30vh;
        width: 38vw;
        border-radius: 20px;
        z-index: 10;
    }
    .disp h2{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        font-size: 14vw;
        z-index: 1;
        margin-left: -8vw;
    }
    .connect{
        display:flex;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
        margin: 180px 0px 0px;
    }
    .tagline{
        /* margin-top: 4px; */
        margin-left: 2.6%;
        font-size: 3vw;
        width: 70%;
    }
    .social{
        font-size: 3vh;
        margin-right: 0;
    }
}